{% load static %}
<!DOCTYPE html>
<html lang="es" class="light">
<!-- BEGIN: Head -->
<head>
  <meta charset="utf-8">
  <link href="dist/images/logo.svg" rel="shortcut icon">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" href="{% static 'dist/images/dollar.svg' %}" type="image/x-icon">
  <title>Agility Logistics Perú</title>
  <!-- BEGIN: CSS Assets-->
  <link rel="stylesheet" href="{% static 'dist/css/app.css' %}" />
  <!-- END: CSS Assets-->
  {% block head_content %}{% endblock %}
</head>
<!-- END: Head -->
<body class="app">
  <!-- BEGIN: Mobile Menu -->
  {% include 'includes/mobile-menu.html' %}
  <!-- END: Mobile Menu -->
  <div class="flex">
    <!-- BEGIN: Side Menu -->
    {% include 'includes/side-menu.html' %}
    <!-- END: Side Menu -->
    <!-- BEGIN: Content -->
    <div class="content">
      <!-- BEGIN: Top Bar -->
      {% include 'includes/top-bar.html' %}
      <!-- END: Top Bar -->
      <!-- Begin : Body -->
      {% block container %}{% endblock%}
      <!-- End : Body -->
    </div>
    <!-- END: Content -->
  </div>
  <!-- BEGIN: JS Assets-->
  <script
    src="https://developers.google.com/maps/documentation/javascript/examples/markerclusterer/markerclusterer.js"></script>
  <script src="{% static 'dist/js/app.js' %}"></script>
  <!-- END: JS Assets-->
  {% block script_content %}{% endblock %}
</body>
</html>