{% extends "base.html" %}
{% load static %}
{% block head_content %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.10.23/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.5/css/buttons.dataTables.min.css">
{% endblock %}
{% block container %}
<div class="grid grid-cols-12 gap-6">
  <div class="col-span-12 xxl:col-span-12 grid grid-cols-12 gap-6">
    <!-- BEGIN: General Report -->
    <div class="col-span-12 mt-8">
      <div class="intro-y flex items-center h-10">
        <h2 class="text-lg font-medium truncate mr-5">
          Usuarios
        </h2>
        <a href="" class="ml-auto flex text-theme-1 dark:text-theme-10">
          <i data-feather="refresh-ccw" class="w-4 h-4 mr-3"></i>
          Recargar Datos
        </a>
      </div>
      <div class="grid gap-6 mt-5">
        <div class="grid gap-6 mt-5">
          <div class="intro-y col-span-12 flex flex-wrap sm:flex-no-wrap items-center mt-2">
            <button class="button text-white bg-theme-1 shadow-md mr-2">Agregar Usuarios</button>
            <div class="hidden md:block mx-auto text-gray-600"></div>
          </div>
          <!-- BEGIN: Data List -->
          <div class="intro-y col-span-12 overflow-auto lg:overflow-visible">
            <table id="example" class="display" style="width:100%">
              <thead>
                <tr>
                  <th>Nombre de usuario</th>
                  <th>Apellidos</th>
                  <th>Nombres</th>
                  <th>ultimo inicio de sesión</th>
                  <th>Tipo de usuario</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                {% for user in users %}
                <tr>
                  <td>{{ user.username }}</td>
                  <td>{{ user.last_name }}</td>
                  <td>{{ user.first_name }}</td>
                  <td>{{ user.last_login }}</td>
                  <td>{% if user.is_staff %}Administrador{%else%}Usuario regular{%endif%}</td>
                  <td></td>
                </tr>
                {% endfor %}
                                
              </tbody>
            </table>
          </div>
          <!-- END: Data List -->
        </div>
      </div>
    </div>
    <!-- END: General Report -->
  </div>
</div>
{% endblock %}
{% block script_content %}
<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.5/js/buttons.html5.min.js"></script>
<script>
  $(document).ready(function () {
    $('#example').DataTable({
      dom: 'Bfrtip',
      buttons: [
        'copyHtml5',
        'excelHtml5',
        'csvHtml5',
        'pdfHtml5'
      ]
    });
  });
</script>
{% endblock %}